@import 'bootstrap/dist/css/bootstrap';

// .navbar-brand {
//     font-size: 2rem;
// }

.search-area {
    padding-top: 50px;
}

.no-right-padding {
    padding-right: 0;
}

.no-left-padding {
    padding-left: 0;
}

.results-block {
    margin-bottom: 1rem;
}

.logout-button {
    margin-right: 5px;
}

.user-name {
    margin-top: 4%;
    margin-right: 5px;
}